@use '../../styles/variables' as var;

.loginWrapper{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var.$light;
    border-radius: var.$border-radius;

    &__leftSide{
        width: 50vw;
        height: 50vh;
        max-width: 600px;
        background: url(../../../public/login-img.png);
        background-position: 80% center;
        
    }

    &__content{
        padding: 2rem;

        &__logo{
            width: 200px;
            height: auto;
        }

    }
}