$main : #5D48E5;
$main-hover: #4c39c7;
$light: #FDFDFD;
$dark : #242427;
$gray: #8f8f8f;
$background: #F5F5F5;
$green: #6BCD86;
$red: #eb4c4c;

$border-radius: 1rem;
$icon-size: 2rem;

$number: 2.5rem;
$title: 1.8rem;
$subtitle: 1.5rem;
$regular: 1.2rem;