@use '../../styles/variables' as var;


@mixin modalButton($bg-color){
    width: max-content;
    height: 3rem;
    padding: 1rem;
    background-color: $bg-color;
    border: none;
    font-size: var.$regular;
    color: var.$light;
    border-radius: var.$border-radius;
    cursor: pointer;

    &:hover{
        background-color: var.$gray;
    }
}

.payersListWrapper{
    background-color: var.$light;
    border-radius: var.$border-radius;
    padding: 1rem;
    width: 50%;
    height: 100%;
    

    h3{
        font-size: var.$regular;
        font-weight: 400;
        color: var.$dark;
        margin-bottom: 1rem;
    }

    .payersList{
        height: 90%;
        overflow-y: auto;

        &::-webkit-scrollbar{
            width: 8px;
        }

        &::-webkit-scrollbar-track{
            background-color: var.$light;
        }

        &::-webkit-scrollbar-thumb{
            background-color: var.$gray;
            border-radius: 50px;
        }

        li{
            display: flex;
            margin-bottom: 0.5rem;
            justify-content: space-between;
            list-style: none;
            cursor: pointer;

            &:hover div p{
                color: var.$main;
                font-weight: 700;
            }
    
            div{
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 0.5rem;

                .icon{
                    width: 2rem;
                    height: auto;
                }

                p{
                    font-size: var.$regular;
                    color: var.$gray;
                }
            }

            div:last-child{
                width: 20%;
            }
        }
    }
}

.emptyList{
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .icon{
        width: 2rem;
        height: auto;
    }

    p{
        color: var.$gray;
        font-size: var.$regular;
    }
}


.modal{
    width: 800px;
    height: 600px;
    position: absolute;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var.$light;
    border-radius: var.$border-radius;
    box-shadow: 0px 0px 50px black;

    .closeIcon{
        width: 3rem;
        height: auto;
        cursor: pointer;
        display: block;
        margin-left: auto;
        background-color: var.$background;
        border-radius: 50px;
        padding: 0.5rem;
        transition: background-color 300ms;

        &:hover{
            background-color: var.$red;
            transition: background-color 300ms;
        }
    }

    ul li{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .icon{
            width: 2rem;
            height: auto;
        }

        p{
            font-size: var.$regular;
            color: var.$dark
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;

        .deleteButton{
            @include modalButton(var.$red)
        }
        .regularizeButton{
            @include modalButton(var.$green)
        }
    }
}

