@use '../../../styles/variables' as var;

/*  This stylesheet should only be used in the "Forms" component because the input components -
    are the same for every application, so its class is defined in a conditional way to -
    change the style depending on the form in which it is used.
*/
@mixin formattedInputWrapper($bg-color){
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border-radius: var.$border-radius;
    background-color: $bg-color;

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        font-size: var.$regular;
        color: var.$main;
        background-color: $bg-color;
    }

}

.signInInput, .signUpInput{
    @include formattedInputWrapper(var.$dark);
}
.registerPayerInput{
    @include formattedInputWrapper(var.$light)
}


//ICON
.icon{
    width: var.$icon-size;
    height: var.$icon-size;
}